/* 
================ Default styles ================
*/

* {
    font-family: 'Merriweather', serif;
    font-weight: lighter;
    margin: 0;
    font-size: 16px;
    color: gray;
}

fieldset {
    border: none;
}

.default_box {
    width: 90%;
    margin: auto;
    padding-top: 1em;
    margin-bottom: 0.2em;
}

.form-header {
    color: black;
    font-weight: bold;
    font-size: 1.2em;
    padding-bottom: 10px;
}

input, .drop_down, textarea, button {
    background-color: #e8e8e8;
    border: none;
    padding: 1em 0.5em 1em 0.5em;
    width: 97%;
    color: #bfbfbf;
}

input, textarea:focus {
    color: black;
}

/* NAV SECTION */

nav {
    width: 100%;
    min-height: 100px;
    background-color: #1b3257; 
}

nav > h1 {
    margin: 0;
    text-align: center;
    padding-top: 0.7em;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

/* HEADER SECTION */

header {
    text-align: center;
    min-height: 100px;
    border-bottom: 5px solid black;
    line-height: 1.5em;
    margin-bottom: 0;
}

header > h2 {
    font-weight: bold;
    font-size: 1.3em;
    line-height: 2em;
    color: black;
}

/* FORM CONTACT SECTION */
form {
    min-height: 200px;
    border-top: 2px solid black;
}

.contact {
    padding: 0.5em;
    border-bottom: 2px solid black;
}

.contact ul {
    padding: 1em;
    width: 100%;
    padding-left: 0;
}

.contact ul li {
    list-style: none;
    text-transform: capitalize;
    padding: 0 0 10px 0;
    width: 100%;
}
#zip {
    width: 50%;
}

input::placeholder {
    text-align: right;
    color: #bfbfbf;
}

/* FORM NEWSLETTER SECTION */

.newsletter {
    border-bottom: none;
}

.newsletter h3 {
    padding: 1em 0 1em 0;
}

.news_checkbox {
    padding: 0;
    width: 10px;
}

textarea {
    width: 98%;
    margin-bottom: 1em;
    border-radius: 5px;
}

button {
    width: 100%;
    background-color: #6ec2aa;
    color: white;
    font-size: 1.2em;
}

.copyright {
    color: #c9c9c9;
    font-style: italic;
    text-align: center;
    padding: 1em;
}


